{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CollegeOrUniversity",
      "name": "Center for Health Data Science",
      "url": "https://heads.ku.dk/",
      "logo": "https://heads.ku.dk/images/HeaDS_logo_small_withTitle.png",
      "sameAs": "https://center-for-health-data-science.github.io/",
      "email": "heads-admin@sund.ku.dk",
      "funding": "?"
    }
</script>
{% endblock %}

{% block announce %}
Page under construction - course not finalized
{% endblock %}